<template name="addDataFeed">
    <form class="main">
        
        <div class="add_data_feed row">
            <div class="col-md-3">
                <label class="control-label" for="url">URL</label>
                <div class="controls">
                    <input name="url" type="text" value="" placeholder="Your URL"/>
                </div>
            </div>
            
            <div class="col-md-3">                
                <label class="control-label" for="title">Parameter</label>
                <div class="controls">
                    <input name="parameter" type="text" value="" placeholder="Add a parameter"/>
                </div>    
            </div>
            
            <div class="col-md-3">
                <div class="controls">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </div>
        </div>
        
      </form>
</template>