<template name="addDataFeed">
    <form class="main">
        
        <div class="add_data_feed row">
            <div class="col-md-4">
                <label class="control-label" for="url">Type</label>
                <div class="controls">
                    <input name="url" type="text" value="" placeholder="Your URL"/>
                </div>
            </div>
            
            <div class="col-md-4">                
                <label class="control-label" for="title">Parameter</label>
                <div class="controls">
                    <input name="parameter" type="text" value="" placeholder="Add a type"/>
                </div>    
            </div>
            
            <div class="col-md-4">
                <div class="controls">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </div>
        </div>
        
      </form>
      <p>Types: facebook_mentions, twitter_user, blog</p>
      
</template>