<template name="addSourceType">
    <h2>Add a new source type</h2>
    <form class="main">
        
        <div class=" row">
            <div class="col-md-4">
                <label class="control-label" for="url">Name</label>
                <div class="controls">
                    <input name="url" type="text" value="" placeholder="What's it called?"/>
                </div>
            </div>
            
            <div class="col-md-4">                
                <label class="control-label" for="title">Url</label>
                <div class="controls">
                    <input name="parameter" type="text" value="" placeholder="The Url this should hit"/>
                </div>    
            </div>
            
            <div class="col-md-2"> 
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
            
        </div>
    </form>

</template>